<!DOCTYPE html>

<html>
<head>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>


<body>

<style type="text/css">
    .jumbotron {
        height: 100vh;
    }
</style>


  <div class='container-fluid'>
    <div class="jumbotron">
      <h1 class="display-3">Welcome to PriMSA</h1>
      <p class="lead">The online tool is built for users to design primers for genes with NO available sequences for Polymerase Chain Reaction (PCR). The tool aligns multiple homologous mRNA sequences using CLUSTALW, detects regions of conservation, and design primers using the consensus sequences from the alignment. </p>
      <hr class="my-4">
      <p>DESCRIPTION ABOUT INPUT, OUTPUT</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg"  href='primsa/' role="button">Take Me to PriMSA</a>
      </p>
    </div>
  </div>



</body>

</html>
