<!DOCTYPE html>

<html>
<head>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>


<body>

<style type="text/css">
    .jumbotron {
        height: 100vh;
    }
</style>


  <div class='container-fluid'>
    <div class="jumbotron">
      <h1 class="display-3">Welcome to PriMSA</h1>
      <p class="lead">Main Content Here!!</p>
      <hr class="my-4">
      <p>Sub-content HERE!!</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg"  href='primsa/' role="button">Learn more</a>
      </p>
    </div>
  </div>



</body>

</html>
