<html>
<head>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="http://127.0.0.1:8000/">PriMSA</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                  <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  <li class="hidden">
                      <a class="page-scroll" href="#page-top"></a>
                  </li>
                  <li>
                      <a class="page-scroll" href="http://127.0.0.1:8000/">About</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="http://127.0.0.1:8000/primsa/">Search</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#contact">Contact</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>
  <br>
  <br>
  <br>

  <div class="col-lg-12">

      <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped tablesorter">
              <thead>
              <tr>
                <th class="header">  <i class="icon-sort"></i></th>
                <th class="header"> Sequence ID <i class="icon-sort"></i></th>
                <th class="header"> Sequence (1-20)<i class="icon-sort"></i></th>
                <th class="header"> Sequence Length <i class="icon-sort"></i></th>
                <th class="header"> Sequence Description <i class="icon-sort"></i></th>
                <!--<th class="header"> Sequence <i class="icon-sort"></i></th>-->
              <tr>
          </thead>
            <form method="POST" action="clustal/">
            {% csrf_token %}
            <tbody>
                {% for key, values in data.items %}
                <tr>
                   <td><input type="checkbox" value= {{key}} name= {{key}} checked="checked"></td>
                    <td>{{key}}</td>
                    {% for v in values %}
                      <td>{{v}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}


            </tbody>

          <button class="btn btn-lg btn-primary btn-block" href="clustal\" >Perform Multiple Sequence Alignment</button>
         </form>

        </table>
      </div>
    </div>
</body>
</html>
